<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://cldv6211poe-ordermanagementfunction.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/6e181df4-755d-4d27-96ab-42e70b8a1844/resourcegroups/ST10385722-CLDV6211POERG/providers/Microsoft.Web/sites/CLDV6211POE-OrderManagementFunction</ResourceId>
    <UserName>$CLDV6211POE-OrderManagementFunction</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://cldv6211poe-ordermanagementfunction.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>